.catalog {
    min-height: 600px;
    background-color: white;
}

.catalog h1 {
    color: rgb(0, 24, 24);
    font-size: 36px;
    font-weight: 300;
}

.catalog .filters button {
    background-color: rgba(5, 171, 116, 0.998);
    margin: 10px;
}